.frame-child {
  position: relative;
  background-color: var(--base-black);
  width: 110px;
  height: 110px;
  display: none;
  z-index: 0;
}
.chevron-right-icon {
  position: absolute;
  margin: 0 !important;
  top: 35px;
  left: 35px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 1;
}
.frame-item {
  background-color: var(--color-gray-200);
  backdrop-filter: blur(5px);
  display: none;
  z-index: 0;
}
.chevron-right-icon1 {
  position: absolute;
  margin: 0 !important;
  top: 35px;
  left: 35px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}

.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: var(--padding-16xl);
  background-color: var(--color-gray-200);
  backdrop-filter: blur(5px);
  width: 110px;
  height: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
  z-index: 1;
}
.desktop-2 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  letter-spacing: normal;
  font-size: var(--font-size-11xl);
  color: var(--yg);
}

@media screen and (max-width: 750px) {
  .image-frame-inner {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
}
