@media screen and (max-width: 450px) {
  .group-b-h,
  .group-b-h1,
  .infomahalaxmihomakercom,
  .orem-ipsum-is,
  .supportmahalaxmihomakercom {
    font-size: var(--font-size-base);
  }

  .desktop-7 {
    gap: var(--gap-6xl);
    padding-top: 31px;
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .desktop-7 {
    gap: var(--gap-31xl);
  }
  .frame-name-input {
    gap: 18px;
  }
}

@media screen and (max-width: 1050px) {
  .desktop-address-input,
  .frame-phone-number-input {
    flex-wrap: wrap;
  }
}

.desktop-address-input,
.frame-badroom,
.frame-vector-bathrooms {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.desktop-2,
.desktop-7 {
  overflow: hidden;
  text-align: center;
  font-family: var(--font-inter);
}
.desktop-7 {
  align-self: stretch;
  background-color: var(--base-black);
  padding: 47px var(--padding-sm) var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-82xl);
  max-width: 100%;
  z-index: 3;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.desktop-2,
.desktop-7,
.desktop-enquiry-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.desktop-address-input,
.frame-vector-bathrooms {
  gap: var(--gap-7xl);
  max-width: 100%;
}
.desktop-address-input {
  width: 1380px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.frame-text2 {
  width: 372px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl);
  max-width: 100%;
}
.address,
.orem-ipsum-is {
  position: relative;
  font-weight: 500;
}
.orem-ipsum-is {
  align-self: stretch;
  font-size: var(--font-size-xl);
  color: var(--white);
  text-align: left;
}
.frame-line1,
.frame-text-homes-properties {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-text-homes-properties {
  gap: var(--gap-7xl);
}
.group-b-h,
.group-b-h1,
.phone-number1 {
  position: relative;
  font-weight: 500;
}
.group-b-h,
.group-b-h1 {
  white-space: nowrap;
}
.frame-line1 {
  gap: 6px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--white);
}
.email1 {
  position: relative;
  font-weight: 500;
}
.frame-badroom {
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--white);
}
.infomahalaxmihomakercom,
.supportmahalaxmihomakercom {
  position: relative;
  font-weight: 500;
  white-space: nowrap;
}
.desktop-enquiry-contact {
  width: 1380px;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-mini);
  max-width: 100%;
  color: var(--white);
}
.frame-name-input {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 36px;
  max-width: 100%;
}
.frame-phone-number-input {
  width: 1154px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.about-us1,
.blog,
.career1,
.contact-us1,
.news1,
.privacy-policy,
.project,
.terms-and-condition {
  position: relative;
  font-weight: 500;
}
.frame-submit-button {
  align-self: stretch;
  position: relative;
  border-top: 1px solid #4d4d4d;
  box-sizing: border-box;
  height: 1px;
}
.mahalaxmi-home-maker {
  position: relative;
  font-weight: 500;
  color: var(--color-gray-100);
  display: inline-block;
  max-width: 100%;
}
