@media screen and (max-width: 450px) {
  .dream-home-found {
    font-size: var(--font-size-lg);
  }
  .header-group {
    padding: 1var (--padding-xl) 20px 153px;
    box-sizing: border-box;
  }
  .james-william {
    font-size: var(--font-size-base);
  }
}
@media screen and (max-width: 750px) {
  .dream-home-found {
    font-size: var(--font-size-5xl);
  }
  .enquiry-form {
    padding-bottom: 79px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1050px) {
  .header-group {
    padding: var(--padding-166xl) 92px var(--padding-216xl);
    box-sizing: border-box;
  }
}
.header-group {
  align-self: stretch;
  justify-content: flex-start;
  padding: 284px var(--padding-166xl) 362px;
  position: relative;
  gap: var(--gap-3xs);
  flex-shrink: 0;
}
.desktop-5 {
  flex: 1;
  background-color: #e9fdff;
  overflow: hidden;
  align-items: center;
  position: relative;
  z-index: 4;
}
.subtitle-frame-icon {
  left: -160px;
  width: 1258px;
  overflow: hidden;
  opacity: 0.35;
}
.dream-home-found {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-style: italic;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.background-box {
  width: 457px;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  max-width: 100%;
}
.background-box,
.banner-area {
  display: flex;
  justify-content: flex-start;
}
.image-10-icon,
.subtitle-frame-icon {
  position: absolute;
  margin: 0 !important;
  height: 100%;
  top: 0;
  bottom: 0;
  max-height: 100%;
}
.image-10-icon {
  right: 0;
  width: 591px;
  object-fit: cover;
  z-index: 1;
}
.email-input,
.header-group,
.james-william-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.email-input,
.header-group {
  flex-direction: column;
}
.email-input {
  width: 1118px;
  height: 616px;
  justify-content: flex-end;
  padding: 0 var(--padding-xl) 0 0;
}
.desktop-5,
.enquiry-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.enquiry-form {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 0 122px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-galyon-book-italic);
}
.banner-area {
  width: 87px;
  height: 0;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.footer-region {
  flex: 1;
  position: relative;
  border-top: 1px solid #6fb4bf;
  box-sizing: border-box;
  height: 1px;
  z-index: 1;
}
.james-william-wrapper {
  width: 436px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-size: var(--font-size-xl);
  color: #073239;
  font-family: var(--font-inter);
}
.james-william {
  position: relative;
  z-index: 1;
}
