.arrow-narrow-right-icon {
  position: relative;
  width: 33px;
  height: 33px;
  overflow: hidden;
  flex-shrink: 0;
}

.schedule-a-tour {
  position: relative;
  font-weight: 500;
}

.frame-phone-number,
.rectangle-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  z-index: 1;
}
.frame-phone-number {
  justify-content: space-between;
  min-width: 174px;
  gap: var(--gap-xl);
}

.address-text-text {
  position: relative;
  border-right: 1px solid var(--white);
  box-sizing: border-box;
  width: 1px;
  height: 38px;
  z-index: 1;
}

.watch-view {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.subtract-icon {
  position: relative;
  width: 30px;
  height: 30px;
  z-index: 1;
}

.enquiry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}

.frame-inner {
  position: relative;
  background-color: var(--red);
  width: 611px;
  height: 110px;
  display: none;
  max-width: 100%;
}
.rectangle-container {
  background-color: var(--red);
  justify-content: center;
  padding: var(--padding-17xl) 49px 37px var(--padding-16xl);
  box-sizing: border-box;
  gap: 27px;
  min-width: 397px;
}

.rectangle-container-wrapper {
  position: absolute;
  transform: translateX(721px);

  right: 0px;

  top: 0;
}

@media screen and (max-width: 450px) {
  .frame-phone-number {
    flex-wrap: wrap;
  }
  .rectangle-container {
    min-width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .rectangle-container {
    flex-wrap: wrap;
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }

  .address-text-text {
    width: 100%;
    height: 1px;
    border-top: 1px solid var(--white);
    box-sizing: border-box;
  }
}
