@media screen and (max-width: 450px) {
  .k {
    font-size: var(--font-size-11xl);
  }
  .b {
    font-size: var(--font-size-11xl);
  }
  .happy-family {
    font-size: var(--font-size-base);
  }
  .projects2 {
    font-size: var(--font-size-base);
  }
  .about-us-frame {
    font-size: var(--font-size-11xl);
  }
  .cities,
  .neighborhood {
    font-size: var(--font-size-base);
  }
}
@media screen and (max-width: 750px) {
  .phone-number-frame {
    flex-wrap: wrap;
  }
  .about-us-frame,
  .b,
  .k {
    font-size: var(--font-size-31xl);
  }
}
.infomahalaxmihomakercom-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.b,
.projects2 {
  position: relative;
}
.projects2 {
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--yg);
}
.email-frame1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.happy-family,
.k {
  position: relative;
}
.happy-family {
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--yg);
}
.email-frame {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.phone-number-frame,
.phone-number-frame-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.phone-number-frame-wrapper {
  width: 926px;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 150px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-81xl);
  color: var(--color-black);
  font-family: var(--font-galyon-bold);
}
.phone-number-frame {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.about-us-frame,
.cities {
  position: relative;
}
.cities-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 var(--padding-5xl);
  font-size: var(--font-size-xl);
  color: var(--yg);
  font-family: var(--font-inter);
}
